---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% if site.teaching.size == 0 %}
  <p>Teaching information will be updated here. Current teaching areas include:</p>
  <ul>
    <li>Traffic Engineering</li>
    <li>Transportation Planning</li>
    <li>Transportation Economics</li>
    <li>Data Science for Engineering</li>
    <li>Statistics for Engineering</li>
    <li>Business Analytics</li>
  </ul>
{% endif %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
